@model IEnumerable<Layout>
@{
    ViewData["Title"] = "Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
    
        <div class="row">
            @foreach (var item in Model)
            {


                <section class="py-5">
                    <div class="container">
                        <h1 style="color:white">@item.Title</h1>
                        <br />

                        <p style="color:wheat">@item.Description</p>
                      
                    </div>
                </section>
                <div class="py-5 bg-image-full">
                    <img class="card-img-top" src="~/images/@item.ImagePath" alt="" style="height:800px">
                    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
                    <div style="height: 50px;"></div>
                </div>

            }
        </div>
    </div>

<br />
<br />

