
@{
    Layout = null;
}

<!DOCTYPE html>
@model Mail
@{ ViewBag.Title = "Contact";
    Layout = null; ; }








<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/media.css" rel="stylesheet" />
    <title>
        ELBERK MÜZİK
    </title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/sticky-navbar.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet">
    <link href="~/css/dropdownlist.css" rel="stylesheet" />

</head>


<body style="background-color:white;margin-bottom:50px">
    <!-- Google Tag Manager Elberk Müzik by AdresGezgini -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NRMFTVG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NRMFTVG');</script>
    <!-- End Google Tag Manager Elberk Müzik by AdresGezgini -->
    <!-- Navigation -->
    <nav-header style="min-height:10vh">

        <a href="/Home/Index" class="logo">ELBERK MÜZİK</a>

        <ul class="navlinks" style="margin-top:20px">
            <li class="navlink"><a href="/Home/AboutUs">Hakkımızda</a></li>
            <li class="navlink">

                <a href="#" style="display:inline-block">Portfolyo<i class="fa fa-caret-down"></i></a>

                <ul class="dropdownlist">
                    <li class="dropdownlink"><a href="/Portfolio/Photos">Fotoğraflar</a></li>
                    <li class="dropdownlink"><a href="/Portfolio/Video">Videolar</a></li>

                </ul>


            </li>
            <li class="navlink"><a href="/Home/Referances">Referanslar</a></li>
            <li class="navlink"><a href="/Home/Contact">İletişim</a></li>


        </ul>
        <div class="burger" style="margin-left:100%">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>



        </div>
    </nav-header>

    <div class="contact-body" style="background-color:white">
        <section class="banner">
            @RenderBody()
            @RenderSection("scripts", false)
        </section>



    </div>
</body>
</html>

<footer class="py-5 bg-dark" style="text-align:center ;margin-bottom:0px;left:0px;bottom:0px;right:0px;position:fixed;height:150px">

    <div class="col-lg-12">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; ElBerk Music 2020</p>

        </div>
    </div>

    <div class="col-lg-12" style="margin-top:30px">
        <div class="media-section">
            <ul>
                <li>
                    <a href="https://www.instagram.com/elberkmusic/"><i class="fab fa-instagram" aria-hidden="true"></i></a>


                </li>
            </ul>
        </div>
    </div>

    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/e0a62eec48.js" crossorigin="anonymous"></script>

<script src="~/sticky-navbar.js"></script>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = this.document.querySelector("nav-header");
        header.classList.toggle("sticky", window.scrollY > 0);
    });
</script>
<script>
    $(document).ready(function () {
        $('ul li').click(function () {
            $(this).toggleClass('active');
        });
    });</script>




