
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>El
    ElBerkMusic/HomePage</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet">


</head>

<body style="background-color:black;">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  fixed-top" style=" background-color: rgba(0,0,0,0.8); border-color: transparent">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">ElBerk Müzik  <img src="~/images/StormLogo.png" style="width:20px; height:20px" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item">
            <a class="nav-link" href="about.html">Hakkımızda</a>
        </li>*@
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">İletişim</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Portfolio
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Portfolio/Index">Videolar</a>
                            <a class="dropdown-item" href="/Portfolio/Photos">Fotoğraflar</a>
                           
                        </div>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/Index">Blog</a>

                    </li>
                    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="body">
        @RenderBody()
        @RenderSection("scripts", false)
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark" >
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ElBerk Music 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
