@model IEnumerable<Photo>
@{
    ViewData["Title"] = "Fotoğraf Düzenlemeleri";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <a asp-action="Create" asp-controller="Photo" class="btn btn-success float-right">Fotoğraf Ekle</a>
    </div>
    <div class="card-body">
        <table id="producttable" class="table table-striped">
            <thead>
                <tr>
                    <th></th>

                </tr>
            </thead>
            @foreach (var p in Model)
            {

                <tbody>
                    <tr>
                        <td><img src="~/images/@p.ImagePath" style="width:50px; height:50px" /></td>
                        



                        <td>
                            <a asp-action="Edit" asp-controller="Photo" asp-route-id="@p.ID" class="btn btn-sm btn-warning">Düzenle</a>

                            <a asp-action="Delete" asp-controller="Photo" asp-route-id="@p.ID" class=" btn btn-sm btn-danger">Sil</a>
                        </td>

                    </tr>
                </tbody>

            }

        </table>
    </div>
</div>
