@model Video
@{
    ViewData["Title"] = "Video Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Create" asp-controller="Video" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Başlık Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea asp-for="Explanation" type="text" class="form-control" placeholder="Konu" style="width:100%; height:300px"></textarea>
                                <div id="report"></div>

                            </div>
                            <div class="form-group">
                                <label>src Link(URL)</label>
                                <input asp-for="VideoPath" type="text" class="form-control" style=" height:50px" placeholder="URL Giriniz" />
                            </div>


                        </div>

                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" onclick="Submit()"  class="btn btn-primary">Ekle</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <!-- Form Element sizes -->


            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
    </script>
@*<script>
    
        function checkChar() {
            var allowedChar = 30;
            var content = document.getElementById("content");
            var contLength = content.value.length;
            if (contLength > allowedChar) {
                content.value = content.value.substring(0, allowedChar);
                document.getElementById("report").innerHTML = "<span style='color:red;'>UYARI: En fazla " + allowedChar + " karakter girebilirsiniz</span>";

            }
            else {
                document.getElementById("report").innerHTML = "<span></span>";

            }




        }
    
   </script>*@

}


