@model IEnumerable<Video>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:50px">
    <div class="row">
        <h2 style="color:white">Videolar</h2>
        <div class="row" style="margin-top:25px">
            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/6iXTSUq_2nk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />





            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VBdFeCfhyEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />

            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MmO8K3bfaQc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />


            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VZKrSMr6zd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/V3N9QBrjvXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                      
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ag4UaApsotI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                       
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CoNgsXv8gX0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                       
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qLKzs9qTiaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />

            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0iDcNqF3LlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />

            <div class="col-lg-12  portfolio-item" style="margin-top:25px">
                <div class="card h-100" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
                    <a href="#">


                    </a>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <hr />
        </div>

    </div>
</div>
   