@model IEnumerable<Post>
@{ ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->


    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12" style="color:wheat">
            <form asp-action="Index" asp-controller="Blog" method="post">
                <!-- Blog Post -->
                @foreach (var post in Model)
                {
        <div class="card mb-4" style="background-color: rgba(0,0,0,0.1); border-color: transparent">
            <img class="card-img-top" src="~/images/@post.ImagePath" alt="Card image cap" style="width:100%; height:450px">
            <div class="card-body">
                <h2 class="card-title">@post.Title</h2>
                <p class="card-text" style="display:-webkit-box; -webkit-line-clamp:3;-webkit-box-orient: vertical; overflow:hidden">@post.Body</p>
                @*<a asp-controller="Blog" asp-action="FullPost" asp-route-id="@post.ID" class="btn btn-primary">Devamını Oku &rarr;</a>*@
            </div>
            <div class="card-footer text-muted">
                Yayın Tarihi  @post.CreatedDate.Value.Day/@post.CreatedDate.Value.Month/@post.CreatedDate.Value.Year

            </div>
        </div>}


            </form>



            <!-- Pagination -->
            @*<ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>*@

        </div>

        <!-- Sidebar Widgets Column -->
       

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
