@model Information
@{
    ViewData["Title"] = "Hakkımızda Sayfası Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="container">
                        <div class="row">
                            @if (Model.ImagePath == "noimage.jpg")
                            {
                                <img class="img-fluid" style="width:250px; height:300px;" src="~/images/noimage.jpg" />
                            }
                            else
                            {
                                <img class="img-fluid" style="width:250px; height:300px;" src="~/images/@Model.ImagePath" />

                            }
                        </div>
                    </div>
                    <form role="form" asp-action="Edit" asp-controller="Information" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Statü</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Statü Ekleyin" />
                            </div>

                            <div class="form-group">
                                <label>Başlık(Ad-Soyad)</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Başlık Ekleyin" />
                            </div>

                            <div class="form-group">
                                <label>1. Paragraf</label>
                                <textarea asp-for="Description1" type="text" class="form-control" style="width:width:100%; height:300px"></textarea>
                            </div>

                            <div class="form-group">
                                <label>2. Paragraf</label>
                                <textarea asp-for="Description2" type="text" class="form-control" style="width:width:100%; height:300px"></textarea>
                            </div>

                            <div class="form-group">
                                <label>3. Paragraf</label>
                                <textarea asp-for="Description3" type="text" class="form-control" style="width:100%; height:300px"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Resim Ekle</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" asp-for="ImagePath"/>
                                        <label class="custom-file-label">@Model.ImagePath</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <!-- Form Element sizes -->


            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>

}

