
@model AppUserVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Giriş Yap</h4></header>
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-row">


                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="" required id="username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div> <!-- form-group end.// -->

                <div class="form-group">

                    <label>Şifre</label>
                    <input asp-for="Password" class="form-control" type="password" required id="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <!-- form-group end.// -->
                </div>

                    <button type="submit" class="btn btn-primary btn-block"> Giriş Yap </button>
              
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->

    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />





