@model Mail
@{ ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="contact" style="background-color:white; ">

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <h1 class="mt-4 mb-3">
                İletişim
                <small>Bize Ulaşın</small>
            </h1>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-lg-8 mb-4">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/d/u/3/embed?mid=1B8RJXYTy6CTd9mrl5kMYkr47fE3zIO9X" width="700" height="400"></iframe>
               
            </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4 mb-4">
                <h3>İletişim Detayları</h3>
                <p>
                    Fahrettin Kerim Gökay Cad. No:24 Kat:3 Yıldız İş Hanı
                    <br>İstanbul/Kadıköy
                    <br>
                </p>
                <p>
                    <abbr title="Phone">Telefon</abbr>: (553) 426-2843
                </p>
                <p>
                    <abbr title="Email">Email</abbr>:
                    <a href="gulennberk@gmail.com">
                        gulennberk@gmail.com
                    </a>
                </p>
                <p>
                    <abbr title="Hours">Çalışma Saatleri</abbr>: Pazartesi - Pazar: 9:00 AM to 5:00 PM
                </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Bize Mesaj Gönderin</h3>
                <div id="back">
                    @if (ViewBag.Success != null)
                    {
        <h5 class="text-success">@ViewBag.Success</h5>}
                    @if (ViewBag.Error != null)
                    {
        <h5 class="text-danger">@ViewBag.Error</h5>}
                </div>
                <form asp-action="Contact" asp-controller="Home" method="post">
                    <div class="container" style="width:1080px; height:400px; background-color:white; float:left; margin-left:300px; margin-top:25px">
                        <p>

                            <input asp-for="Name" type="text" required class="form-control" placeholder="Adınız Soyadınız" style="width:500px; height:40px" id="name">
                        </p>
                        <p>
                            <input asp-for="PhoneNumber"  type="text" class="form-control" placeholder="Telefon Numaranız"   maxlength="11"  style="width:500px; height:40px" >
                        </p>
                        <p>
                            <input asp-for="Email" type="email" required class="form-control" placeholder="Email adresiniz" style="width:500px; height:40px" id="email">
                        </p>
                        <p>
                            <input asp-for="Subject" type="text" required class="form-control" placeholder="Konu giriniz" style="width:500px; height:40px">
                        </p>
                        <p>
                            <textarea asp-for="Message" rows="8" required class="form-control" placeholder="Mesaj giriniz" style="width:500px; height:200px" id="message"></textarea>
                        </p>
                        <p>
                            <button class="btn btn-success" onclick="Gonder()">Gönder</button>
                        </p>
                    </div>
                </form>
            </div>

        </div>



        <div class="row">
            <div class="col-lg-8 mb-4" style="margin-top:25px">
                <div id="alert" style="background-color:white"></div>
                <figure>
                    <pre>
<span id="demo"></span>
</pre>
                </figure>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>function Gonder() {
            var email = document.getElementById('email').value;
            var mesaj = document.getElementById('message').value;
            if (email == "") {

                var hata = '<div id="alert" class="alert alert-danger"><span>Email adresinizi giriniz.</span></div>';
                document.getElementById('alert').innerHTML = hata;
            }

            else if (mesaj== "") {
                var hata = '<div id="alert" class="alert alert-danger"><span>Mesaj alanını boş geçmeyiniz.</span></div>';
                document.getElementById('alert').innerHTML = hata;
            }


        }</script>
}


<!-- /.row -->
<!-- /.container -->
