
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/startbootstrap-grayscale-gh-pages/css/styles.css" rel="stylesheet" />
<div class="masthead" style="margin: 0;
        height: 100%;
        width:100%;
        padding: 0;
        position:fixed;
        top:0;
        left:0;
">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">ELBERK MÜZİK</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Creativity is an idea.</h2>
            <a class="btn btn-primary js-scroll-trigger tra" href="/Home/Index">Başla</a>
        </div>
    </div>
</div>
<script src="~/startbootstrap-grayscale-gh-pages/js/scripts.js"></script>