
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}








<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <h1 class="mt-4 mb-3" style="color:green">
            Teşekkür Ederiz
            <small style="color:green">Mesajınız Başarıyla Gönderildi</small>
        </h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-sm-8 mb-4 ">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/d/u/3/embed?mid=1B8RJXYTy6CTd9mrl5kMYkr47fE3zIO9X" width="95%" height="400"></iframe>

        </div>
        <!-- Contact Details Column -->
        <div class="col-sm-4 mb-4">
            <h3>İletişim Detayları</h3>
            <p style="margin-top:2px">
                Fahrettin Kerim Gökay Cad. No:24 Kat:3 Yıldız İş Hanı
                <br>İstanbul/Kadıköy
                <br>
            </p>
            <p>
                <abbr title="Phone">Telefon</abbr>:<a href="tel://+905534262843">(553) 426-2843</a>
            </p>
            <p>
                <abbr title="Email">Email</abbr>:<a href="mailto:elberkmusic@gmail.com">elberkmusic@gmail.com</a>

            </p>

        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />