@model Identity
@{
    ViewData["Title"] = "Kimlik Bilgisi Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Create" asp-controller="Identity" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Ad Soyad</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Başlık Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Özellik Ekle (Bold)</label>
                                <input asp-for="Specifications1" type="text" class="form-control" placeholder="Özellik Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Özellik Ekle</label>
                                <input asp-for="Specifications2" type="text" class="form-control" placeholder="Özellik Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Özellik Ekle</label>
                                <input asp-for="Specifications3" type="text" class="form-control" placeholder="Özellik Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Özellik Ekle</label>
                                <input asp-for="Specifications4" type="text" class="form-control" placeholder="Özellik Giriniz">
                            </div>
                            <div class="form-group">
                                <label>Amaç Ekle</label>
                                <textarea asp-for="Objective" type="text" class="form-control" style="width:500px; height:500px" placeholder="Makale"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Resim Ekle</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" />
                                        <label class="custom-file-label">Fotoğraf Ekle</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <!-- Form Element sizes -->


            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
    </script>

}

